.alert.alert-danger {
    background-color: white;
border-color: white;
color: #f00 !important;
}
#preview{
display: flex;
justify-content: center;
}
.modal-body{
padding: 10px;
}
input[type=file]::file-selector-button {
margin-right: 20px;
border: none;
background: #084cdf;
padding: 1px 20px;
border-radius: 10px;
color: #fff;
cursor: pointer;
transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
background: #0d45a5;
}